@import url("https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98");
ul.lst-kix_dm4ij4qbpqpb-7 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-8 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-5 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-6 {
  list-style-type: none;
}
.lst-kix_badkdnl46g8b-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_badkdnl46g8b-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_badkdnl46g8b-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_badkdnl46g8b-8 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-7 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-6 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-5 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-4 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-0 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-3 {
  list-style-type: none;
}
.lst-kix_badkdnl46g8b-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_badkdnl46g8b-2 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-1 {
  list-style-type: none;
}
.lst-kix_badkdnl46g8b-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_dm4ij4qbpqpb-3 {
  list-style-type: none;
}
ul.lst-kix_badkdnl46g8b-0 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-4 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-1 {
  list-style-type: none;
}
ul.lst-kix_dm4ij4qbpqpb-2 {
  list-style-type: none;
}
.lst-kix_dm4ij4qbpqpb-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_badkdnl46g8b-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dm4ij4qbpqpb-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dm4ij4qbpqpb-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dm4ij4qbpqpb-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dm4ij4qbpqpb-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_badkdnl46g8b-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_badkdnl46g8b-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dm4ij4qbpqpb-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dm4ij4qbpqpb-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_badkdnl46g8b-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dm4ij4qbpqpb-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dm4ij4qbpqpb-8 > li:before {
  content: "\0025a0  ";
}
/* ol {
  margin: 0;
  padding: 0;
} */
/* table td,
table th {
  padding: 0;
} */
.c16 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-bottom-color: #d9d9e3;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-color: #d9d9e3;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-right-color: #d9d9e3;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-top-color: #d9d9e3;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  padding-right: 0pt;
}
.c11 {
  margin-left: -8pt;
  padding-top: 0pt;
  padding-bottom: 15pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  margin-right: -8pt;
}
.c12 {
  margin-left: -8pt;
  padding-top: 0pt;
  padding-bottom: 30pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  margin-right: -8pt;
}
.c13 {
  margin-left: -8pt;
  padding-top: 24pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
  margin-right: -8pt;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal;
}
.c7 {
  color: #3a3a3a;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal;
}
.c10 {
  background-color: #ffffff;
  padding-top: 18pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c8 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}
.c1 {
  color: #3a3a3a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 15pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c23 {
  background-color: #ffffff;
  padding-top: 24pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c6 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal;
}
.c14 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c20 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c24 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-style: normal;
}
.c15 {
  font-size: 11pt;
  font-family: "Calibri";
  color: #3a3a3a;
  font-weight: 700;
}
.c18 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal;
}
.c2 {
  background-color: #ffffff;
  max-width: 800px;
  padding: 16px;
  margin: auto;
}
.c4 {
  font-family: "Calibri";
  color: #374151;
  font-weight: 400;
}
.c5 {
  font-weight: 400;
  font-family: "Calibri";
}
.c22 {
  font-family: "Calibri";
  font-weight: 700;
}
.c19 {
  color: #3a3a3a;
}
.c17 {
  height: 11pt;
}
.c21 {
  color: #ff0000;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
/* li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
} */
/* p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
} */
/* h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
/* h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
/* h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
/* h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
/* h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
/* h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
} */
